@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/font/roboto-v47-latin-regular.woff2') format('woff2');
}

.font--roboto {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/font/open-sans-v40-latin-regular.woff2') format('woff2');
}

.font--open-sans {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/font/roboto-slab-v34-latin-regular.woff2') format('woff2');
}

.font--roboto-slab {
  font-family: 'Roboto Slab', serif;
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('/font/merriweather-v31-latin-regular.woff2') format('woff2');
}

.font--merriweather {
  font-family: 'Merriweather', serif;
}

@font-face {
  font-display: swap;
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url('/font/courgette-v17-latin-regular.woff2') format('woff2');
}

.font--courgette {
  font-family: 'Courgette', cursive;
}

@font-face {
  font-display: swap;
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: url('/font/merienda-v19-latin-regular.woff2') format('woff2');
}

.font--merienda {
  font-family: 'Mereanda', cursive;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/font/roboto-mono-v23-latin-regular.woff2') format('woff2');
}

.font--roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

@font-face {
  font-display: swap;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/font/inconsolata-v32-latin-regular.woff2') format('woff2');
}

.font--inconsolata {
  font-family: 'Inconsolata', monospace;
}

@font-face {
  font-display: swap;
  font-family: 'Noto Serif Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url('/font/noto-serif-hebrew-v28-latin-regular.woff2') format('woff2');
}

.font--hebrew {
  font-family: 'Noto Serif Hebrew', serif;
  font-size: 1.5em;
}

.font-size--s {
  font-size: 0.8rem;
}

.font-size--m {
  font-size: 1.0rem;
}

.font-size--l {
  font-size: 1.2rem;
}

.font-size--xl {
  font-size: 1.4rem;
}

.font-size--xxl {
  font-size: 1.6rem;
}
